/* You can add global styles to this file, and also import other style files */
body {
  font-family: Calibri, Apple Casual;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  min-height: 100%;
  position: relative;
  background-size: 100%;
}