.ticker {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    position: fixed;

    bottom: 0px;
    right: 0px;
    width: 70%;
    height: 1.3em;
    padding: 0.2em;
    margin-bottom: 0.25em;
    border-radius: 13px 0px 0px 13px;

    background-color: rgba(51, 51, 51, 0.7);
    border: 1px solid #eee;
    border-right: 0px;

    font-size: 2em;
    overflow: hidden;
}