<div class="weather">
    <div class="date">{{date}}</div><br />
    <div class="header">Townsville</div>
    <div class="temps">
        <div class="current_icon"><img src="http://openweathermap.org/img/w/{{current_icon}}.png" width="80em" /></div>
        <div class="current_temp">{{current_temp}}&#x2103;</div>
        <div class="stacked_temp">
                <div class="current_min_temp">{{current_min_temp}}&#x2103; / {{current_max_temp}}&#x2103;</div>
                <div class="current_min_temp">{{current_humidity}}% / {{current_wind_speed}}k/h</div>
        </div>
    </div>
    <div class="header">Brisbane</div>
    <div class="temps">
        <div class="current_icon"><img src="http://openweathermap.org/img/w/{{brisbane_icon}}.png" width="80em" /></div>
        <div class="current_temp">{{brisbane_temp}}&#x2103;</div>
        <div class="stacked_temp">
                <div class="brisbane_min_temp">{{brisbane_min_temp}}&#x2103; / {{brisbane_max_temp}}&#x2103;</div>
                <div class="brisbane_min_temp">{{brisbane_humidity}}% / {{brisbane_wind_speed}}k/h</div>
        </div>
    </div>
    <div class="header">Sydney</div>
    <div class="temps">
        <div class="current_icon"><img src="http://openweathermap.org/img/w/{{sydney_icon}}.png" width="80em" /></div>
        <div class="current_temp">{{sydney_temp}}&#x2103;</div>
        <div class="stacked_temp">
                <div class="sydney_min_temp">{{sydney_min_temp}}&#x2103; / {{sydney_max_temp}}&#x2103;</div>
                <div class="sydney_min_temp">{{sydney_humidity}}% / {{sydney_wind_speed}}k/h</div>
        </div>
    </div>
</div>