.radar {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0px;
    width: 18em;
    height: 18em;
    z-index: 30;
    margin: 0.5em;

    border-radius: 13px;

    background-color: rgba(51, 51, 51, 0.7);
    border: 1px solid #eee;
}

.radarbg {
    width: 16em;
    height: 16em;
    margin: 1em;

    background-image: url("http://www.bom.gov.au/products/radar_transparencies/IDR733.background.png");
    background-size: cover;
}

.radarlocations {
    width: 16em;
    height: 16em;

    background-image: url("http://www.bom.gov.au/products/radar_transparencies/IDR733.locations.png");
    background-size: cover;
}

.radarlocations img {
    width: 16em;
    height: 16em;
}